<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--The name of the eventlog to observe-->
    <add key="LogName" value="EventWatcherTest"/>
    <!--The minimum severity of entries to report-->
    <add key="MinimumSeverityLevel" value="Warning"/>
  </appSettings>
</configuration>